mixin productCard(product)
    .best-p1
      img(src=`/img/${product.type}/${product.imageCover}` alt='img')
      .best-p1-txt
        .name-of-p
          p= product.name
        .rating
          i.bx.bxs-star
          i.bx.bxs-star
          i.bx.bxs-star
          i.bx.bx-star
          i.bx.bx-star
        .price= `₹ ${product.pricePerKg}/kg`
          .colors
            i.bx.bxs-circle.red
            i.bx.bxs-circle.blue
            i.bx.bxs-circle.white
        .buy-now
          button.order-product(data-product-id= `${product.id}`, data-price= product.pricePerKg)
            a Buy Now
