extend base

block content
    section.catalog
      .container
        each product in products
          .product
            img.product-img(src=`${product.imageCover}`, alt=`${product.name}`)
            h3.product-name= product.name
            p.product-price= `${product.pricePerKg} / kg`
            button.product-buy.order-product(data-product-id= `${product.id}`) Buy
